$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */

$lgrey: #ECF0F1;
$dgrey: #666;
$lblue: #3498DB;
$lred:  #E74C3C;
$green: #27AE60;

$bg:  $lgrey;
$cbg: white;
$hbg: #D35400;
$hfg: $lgrey;

html, body {
  margin: 0px;
  height: 100%;
}

body {
  color: $dgrey;
  background: $bg;
  padding-top: 48px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, a:hover {
  color: $lgrey;
  text-decoration: none;
}

h2 {
  margin: 0;
  color: white;
  font-size: 1em;
  font-weight: normal;
  background: #E67E22;
  padding: 10px;
}

.main {
  height: 100%;
  margin: 0 auto;
  max-width: 940px;
  background: white;
}

nav.navbar {
  border: none;
  background: none;

  .header {
    color: $hfg;
    width: 100%;
    display: table;
    margin: 0 auto;
    max-width: 940px;
    background: $hbg;
    text-align: center;
    vertical-align: middle;

    h1 {
      font-size: 1.5em;
      display: table-cell;
      font-weight: normal;
      line-height: inherit;
      vertical-align: middle;
    }

    sup {
      font-size: 0.6em;
    }

    a {
      padding: 10px;
      display: inline-block;
    }

    >:nth-child(1) { float: left; }
    >:nth-child(3) { float: right; }
  }
}

.intent-list {
  .header {
  }
  .text {
     padding: 10px;
     cursor: pointer;
     border-bottom: 1px solid #eee;
  }
}

.create-intent {
  a {
    color: white;
    padding: 20px;
    display: block;
    font-size: 2em;
    text-align: center;
    border-radius: 5px;
    background: #E74C3C;
    margin: 40px 40px 0 40px;
  }
}
