$fa-font-path: "/bower_components/components-font-awesome/fonts/";

@import "sass-bootstrap/lib/bootstrap";
@import "components-font-awesome/scss/font-awesome";

@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic);

$orange: #f39c12;
$carrot: #e67e22;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$emerald: #2ecc71;
$pumpkin: #d35400;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$alizarin: #e74c3c;
$concrete: #95a5a6;
$asbestos: #7f8c8d;
$turquoise: #1abc9c;
$green_sea: #16a085;
$nephritis: #27ae60;
$sun_flower: #f1c40f;
$peter_river: #3498db;
$belize_hole: #2980b9;
$wet_asphalt: #34495e;
$pomegranate: #c0392b;
$midnight_blue: #2c3e50;

$bg1: $clouds;

$h1bg: $wet_asphalt;
$h2bg: saturate(lighten($h1bg, 15%), 15%);
$h3bg: $clouds;

$h1bgi: linear-gradient(to bottom, $h1bg 0%, saturate(darken($h1bg, 5%), 5%) 100%);
$h2bgi: linear-gradient(to bottom, $h2bg 0%, saturate(darken($h2bg, 5%), 5%) 100%);

$fg1: $clouds;
$fg2: #333;

$btn: $belize_hole;

$app_width: 640px;

body * {
  font-family: 'Carrois Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html, body {
  margin: 0px;
  height: 100%;
}

body {
  color: $fg2;
  background: $bg1;
  padding-top: 48px;
}

button.btn,
input.form-control,
textarea.form-control {
}

.bg1 {
  background: $h1bg;
}
.bg2 {
  background: $h2bg;
  background-image: $h2bgi;
}
.bg3 {
  background: $h3bg;
}

.bg1, .bg2, .bg3 {
  a {
    color: white;
  }
}

.pad-m   { padding: 10px; }
.pad-s-h { padding: 0 3px; }

.fl { float: left; }
.fr { float: right; }

a, a:hover {
  color: $fg2;
  text-decoration: none;
}

h2 {
  margin: 0;
  color: white;
  padding: 10px;
  font-size: 1em;
  font-weight: normal;
}

h3 {
  text-align: center;
  padding: 30px;
  margin: 0;
}

h4 {
  padding: 20px 0 0 0;
  text-align: center;
}

.main {
  height: 100%;
  margin: 0 auto;
  max-width: $app_width;
  background: white;
}

.menu-icon {
  width: 48px;
}

nav.navbar {
  border: none;
  background: none;

  .header {
    color: $fg1;
    width: 100%;
    display: table;
    margin: 0 auto;
    max-width: $app_width;
    background: $h1bg;
    text-align: center;
    vertical-align: middle;
    background-image: $h1bgi;

    h1 {
      font-size: 1.5em;
      display: table-cell;
      font-weight: normal;
      line-height: inherit;
      vertical-align: middle;
    }

    sup {
      font-size: 0.6em;
    }

    a, a:hover {
      color: $fg1;
      padding: 10px;
      display: inline-block;
    }

    >:nth-child(1) { float: left; }
    >:nth-child(3) { float: right; }
  }
}

.intent-list {
  .intent {
    display: block;
    min-height: 70px;
    background: white;
    padding: 10px 10px 10px 70px;
    border-bottom: 1px solid #eee;
  }
}

.timepicker {
  padding: 10px 0;
  .hours, .minutes {
    display: inline-block;
    width: 2.9em;
    font-size: 24px;
    text-align: center;
  }
  input {
    width: 3em;
    height: auto;
    font-size: 24px;
    text-align: center;
  }
  button {
    border: 0;
    margin: 5px 0;
    font-size: 24px;
    box-shadow: none;
  }
}

.intent-comments {
  background: white;
  .comment {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    .name {
      color: $wet_asphalt;
    }
    .body {
    }
    .date {
      color: #777;
      font-size: .9em;
      display: block;
    }
  }
  .new {
    padding: 10px;
  }
}

.participants {
  border-top: 1px solid #BDC3C7;
  border-bottom: 1px solid #BDC3C7;
  padding: 10px 10px 0 10px;

  button {
    color: #333;
    float: right;
  }

  .thumbs {
    img {
      padding: 0 10px 10px 0;
      display: inline-block;
    }
  }
}

.show-intent {
  background: white;
}
