<div
  class="clearfix"
  style="display: table; width: 100%;">
  <i
    style="font-size: 48px; padding: 20px; color: #2c3e50;"
    class="fa fa-plus-circle">
  </i>
  <h3
    style="
      padding: 0;
      margin: 0;
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      width: 100%;
      padding-right: 25px;
    ">
    Create New Intent
  </h3>
</div>

<div
  style="display: table; width: 100%; padding: 0 20px;">
    <label>
      What are you doing, or what do you want to do?
    </label>
    <textarea
      class="form-control"
      ng-model="intent.activity"
    ></textarea>
</div>

<div style="text-align: right; margin: 20px 20px 0 0;">
  <button
    ng-click="next()"
    class="btn btn-primary"
    ng-disabled="!intent.activity">
    Next...
  </button>
</div>

<h2 class="bg2" style="margin-top: 20px;">
  Reuse recent intent:
</h2>

<div style="padding: 20px">
  <a href style="display: block; padding-bottom: 10px;" ng-click="intent.activity='I\'m heading to the driving range to whack some drives...'">
    I'm heading to the driving range to whack some drives...
  </a>
  <a href style="display: block; padding-bottom: 10px;" ng-click="intent.activity='Running a hefty 20k trail in Østmarka. (Not for pussies.)'">
    Running a hefty 20k trail in Østmarka. (Not for pussies.)
  </a>
</div>
