<div
  class="clearfix"
  style="
    width: 100%;
    display: table;
  ">
  <i
    style="
      padding: 20px;
      color: #2c3e50;
      font-size: 48px;
    "
    class="fa fa-plus-circle">
  </i>
  <h3
    style="
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: left;
      padding-right: 25px;
      display: table-cell;
      vertical-align: middle;
    ">
    Create New Intent
  </h3>
</div>

<div
  style="display: table; width: 100%; padding: 0 20px;">
    <label>
      What are you doing, or what do you want to do?
    </label>
    <textarea
      class="form-control"
      ng-model="intent.activity"
    ></textarea>
</div>

<div style="text-align: right; margin: 20px 20px 0 0;">
  <button
    ng-click="next()"
    class="btn btn-primary"
    ng-disabled="!intent.activity">
    Next...
  </button>
</div>

<nt-recents
  attr="intent.activity"
  header="Recent Intents">
</nt-recents>
