<div class="clearfix show-intent">
  <h2 class="bg2 clearfix">
    <a href class="fr fa fa-trash-o" ng-click="del()">
      <span>Delete</span>
    </a>
  </h2>

  <div style="text-align: center;">
    <h3>{{intent.activity}}</h3>
    <div style="text-align: center; padding-bottom: 20px;">
      <span>
        <i class="fa fa-clock-o"></i>
        <span nt-intent-when dt="true"></span>
      </span>

      <span
        ng-show="intent.location"
        style="padding-left: 10px;">
        <i class="fa fa-location-arrow"></i>
        <span>{{intent.location}}</span>
      </span>

    </div>
  </div>

  <nt-participants></nt-participants>

  <nt-messages></nt-messages>
</div>
