<div class="intent-comments">

  <div class="comment clearfix" ng-repeat="message in intent.messages">
    <img
      ng-src="http://www.gravatar.com/avatar/{{ message.user.email | gravatar }}?s=50&d=mm"
      style="width: 50px; float: left"
    />
    <div style="margin-left: 10px; float: left">
      <span class="name">{{message.user.id}}</span>
      <span class="body">{{message.body}}</span>
      <span class="date">{{message.date | moment}}</span>
    </div>
  </div>

  <div class="new">
    <textarea
      ng-model="message"
      class="form-control"
      placeholder="Leave a comment..."
    ></textarea>

    <div style="text-align: right; padding-top: 10px">
      <button
        ng-click="postMessage()"
        class="btn btn-default fa fa-comment">
        <span>Post</span>
      </button>
    </div>
  </div>

</div>
