<div class="participants pad-m">
  <div style="clear: both">
    <span>
      {{participantsMessage(intent.participants.length)}}
    </span>
    <button href
      class="btn btn-default fa fa-thumbs-up"
      ng-click="join()">
      <span>Join</span>
    </button>
  </div>
  <div class="thumbs">
    <span>
      <img
        ng-src="http://www.gravatar.com/avatar/{{ intent.user.email | gravatar }}?s=50&d=mm"
        style="width: 50px;"
      />
    </span>
    <span ng-repeat="user in intent.participants">
      <img
        ng-src="http://www.gravatar.com/avatar/{{ user.email | gravatar }}?s=50&d=mm"
        style="width: 50px;"
      />
    </span>
  </div>
</div>
