<div class="participants">
  <div class="clearfix">
    <span>
      {{participantsMessage(intent.participants.length)}}
    </span>
    <button
      href
      ng-click="join()"
      ng-disabled="joined"
      ng-show="user.id != intent.user.id"
      class="btn btn-default fa fa-thumbs-up">
      <span ng-show="joined">You are in!</span>
      <span ng-show="!joined">Count me in!</span>
    </button>
  </div>
  <div class="thumbs" style="padding-top: 10px;">
    <span>
      <fbavatar
        uname="{{ intent.user.username }}">
      </fbavatar>
    </span>
    <span ng-repeat="user in intent.participants" >
      <fbavatar
        uname="{{ user.username }}">
      </fbavatar>
    </span>
  </div>
</div>
