<div class="participants pad-m">
  <div>
    <span>
      {{participantsMessage(intent.participants.length)}}
    </span>
    <button href
      class="btn btn-default fa fa-thumbs-up"
      ng-click="join()">
      <span>Join</span>
    </button>
  </div>
  <div class="thumbs">
    <span>
      <gravatar
        hash="{{ intent.user.email | gravatar }}"
      />
    </span>
    <span ng-repeat="user in intent.participants">
      <gravatar
        hash="{{ user.email | gravatar }}"
      />
    </span>
  </div>
</div>
