<div
  class="clearfix"
  style="display: table; width: 100%;">
  <i
    style="font-size: 48px; padding: 20px; color: #2c3e50;"
    class="fa fa-calendar">
  </i>
  <h3
    style="
      padding: 0;
      margin: 0;
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      width: 100%;
      padding-right: 25px;
    ">
    When is this going down?
  </h3>
</div>

<div class="row" style="margin: 0 10px">
  <div
    class="col-md-8 col-md-offset-2">

    <div class="form-group">
      <button
        class="btn btn-primary btn-block"
        ng-click="next(date.id)"
        ng-repeat="date in dates">
        {{date.day}}
      </button>
    </div>

  </div>
</div>
