<div class="row" style="margin: 0 10px; text-align: center">

  <h3>Settings</h3>

  <div>
    <button
      class="btn btn-warning btn-block"
      ng-click="logout()">
      Logout
    </button>
  </div>

  <div style="padding: 10px 0">
    <button
      class="btn btn-default btn-block"
      ng-click="login('SMU', 'stig.murberg@gmail.com')">
      Log in as SMU
    </button>
    <button
      class="btn btn-default btn-block"
      ng-click="login('KENO', 'ken@glxn.net')">
      Log in as KENO
    </button>
    <button
      class="btn btn-default btn-block"
      ng-click="login('Lyapunov', 'jontore@gmail.com')">
      Log in as Lyapunov
    </button>
    <button
      class="btn btn-default btn-block"
      ng-click="login('SpaceInvader', 'jeanfric@cisco.com')">
      Log in as SpaceInvader
    </button>
    <button
      class="btn btn-default btn-block"
      ng-click="login()">
      I'm feeling lucky...
    </button>
  </div>

</div>
