<div class="timepicker">
  <div class="hours">
    <button
      ng-click="addHour()"
      class="form-control fa fa-chevron-up">
    </button>
    <input
      autofocus
      type="text"
      tabIndex="3"
      class="form-control"
      ng-model="time.hours"
    />
    <button
      ng-click="remHour()"
      class="form-control fa fa-chevron-down">
    </button>
  </div>
  <div class="minutes">
    <button
      ng-click="addMin()"
      class="form-control fa fa-chevron-up">
    </button>
    <input
      type="text"
      tabIndex="4"
      class="form-control"
      ng-model="time.minutes"
    />
    <button
      ng-click="remMin()"
      class="form-control fa fa-chevron-down">
    </button>
  </div>
</div>
