<h2>
  {{intent.date | moment}}
  <a href class="fr icon-trash" ng-click="del()">
    Delete
  </a>
</h2>

<h3>
  <span>
    You
  </span>
  <span>
    {{ formatType(intent.type) }}
  </span>
  <span>
    {{ intent.activity }}
  </span>
</h3>

<div class="bg3 pad-med">
  <a href class="icon-thumbs-up">
    Count me in
  </a>
</div>

<div class="intent-comments">
  <div class="comment" ng-repeat="message in intent.messages">
    <span class="name">Stig Murberg:</span>
    <span class="body">{{message.body}}</span>
    <span class="date">{{message.date | moment}}</span>
  </div>
  <div class="new">
    <textarea
      ng-model="message"
      class="form-control"
      placeholder="Leave a comment..."
    ></textarea>

    <div style="text-align: right; padding-top: 10px">
      <button
        ng-click="postMessage()"
        class="btn btn-default icon-comment">
        Post
      </button>
    </div>
  </div>
</div>
