<div class="intent-list" ng-repeat="(date, arr) in intents">
  <h2>
    {{ formatDate(date) }}
  </h2>
  <a href
    class="intent clearfix"
    ng-click="showIntent(intent.id)"
    ng-repeat="(id, intent) in arr">

    <img
      src="images/bc.jpg"
      style="height: 50px; position: absolute; left: 10px"
    />

    <span style="color: #34495E">
      Stig Murberg
    </span>
    <span>
      {{ formatType(intent.type) }}
    </span>
    <span>
      {{ intent.activity }}
    </span>

    <div style="padding-top: 10px; font-size: 12px; color: #999">
      <span class="fl">
        {{ formatDate(date) }} at
        {{ intent.time.hours }}:{{ intent.time.minutes }}
      </span>
      <div style="color: #666" class="fr">
        <span
          class="icon-comment-alt pad-s-h"
          ng-show="intent.messages.length">
          {{intent.messages.length}}
        </span>
        <span
          class="icon-user pad-s-h"
          ng-show="intent.participants.length">
          {{intent.participants.length}}
        </span>
      </div>
    </div>
  </a>
</div>
