<div class="intent-list" ng-repeat="(date, arr) in intents">
  <h2>
    {{ formatDate(date) }}
  </h2>
  <a href
    class="intent clearfix"
    ng-click="showIntent(intent.id)"
    ng-repeat="(id, intent) in arr">
    <span style="color: #999">
      {{ intent.time.hours }}:{{ intent.time.minutes }}
    </span>
    <span style="color: #34495E">
      Stig Murberg
    </span>
    <span>
      {{ formatType(intent.type) }}
    </span>
    <span>
      {{ intent.activity }}
    </span>
    <div style="color: #666" class="fr">
      <span
        class="icon-comment-alt pad-s-h"
        ng-show="intent.messages.length">
        {{intent.messages.length}}
      </span>
      <span class="icon-dribbble pad-s-h">
        3
      </span>
    </div>
  </a>
</div>
