<div class="intent-list" ng-repeat="(date, arr) in intents">
  <h2>
    {{ formatDate(date) }}
  </h2>
  <a
    href
    class="intent"
    ng-click="showIntent(intent.id)"
    ng-repeat="(id, intent) in arr">
    <span style="color: #999">
      {{ intent.time.hours }}:{{ intent.time.minutes }}
    </span>
    <span>
      SMU
    </span>
    <span>
      {{ formatType(intent.type) }}
    </span>
    <span>
      {{ intent.activity }}
    </span>
    <span
      class="icon-trash"
      style="float: right"
      ng-click="remove(intent.id)">
    </span>
  </a>
</div>
